<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gAmEs</title>
</head>
<body>
    <button onclick="location.href='/snake'">Snake</button><br>
    <button onclick="location.href='/flappy'">Clappy Berd</button><br>
    <button onclick="location.href='/idk'">idk</button><br>
    <button onclick="window.location.href='https://wchatgame.onrender.com/play'">Multiplayer game (feet strighters)</button><br>
    <button onclick="window.location.href='https://boxsand.netlify.app'">PHYSICSSSSSSSSSSSS</button>
</body>
</html>