<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Request</title>
        
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <div class="fullbox">
            <h1>3D print request</h1>
            <form action="/rtd" method="POST"  enctype="multipart/form-data">
                <textarea name="desc" rows="4" cols="50" placeholder="Describe" required></textarea><br>
                <label for="model">Upload your 3D model file:</label><br>
                <input type="file" name="file" accept=".stl,.obj,.3mf" required><br>
                <button type="submit">Submit</button>
            </form>
            <button onclick="location.href='/'">Go back to home</button>
        </div>
    </body>
</html>